body{
    font-family:"Roboto", "Arial", sans-serif;
    font-size:16px;
    color:white;
    background:#849d8f;
}
h1{
    font-size:35px;
}
h2{
    font-size:24px;
}
.clearfix{
    content:'';
    display:table;
    clear:both;
}
<<<<<<< HEAD


/*SLIDERRRR*/
body > input[type="radio"] {
  display: none;
}
.site-wrapper {
  min-width: 940px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: background-image 0.5s ease, background-color 0.5s ease;
transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}
.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/top-layer.png");
}
.site-wrapper:after {
  background-image: url("../img/middle-layer.png");
}
.content-wrapper {
  width: 1200px;
  margin: 0 auto;
    margin-bottom:42px
}
.slider {
  position: relative;
  padding-top: 330px;
  text-align: center;
  color: #ffffff;
}
.slide{
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
    line-height:60.35px;
    font-size:60px;
}
.slide-btn {
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
    padding: 8px 44px 13px 40px;
}
.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 25px;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/top-layer.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/middle-layer.png");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bottom-layer.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


/*SLIDERRRRR*/


main{
    
}
.container{
    position:relative;
    min-width:900px;
    max-width:1158px;
    padding:0 1.2%;
    margin:0 auto;
    outline:1px solid green;
}
=======
.logo{
    padding:0;
    margin:0;
}
main{
    margin-top:523px;
}
.container{
    
    position:relative;
    min-width:900px;
    max-width:1200px;
    padding:0 2.3%;
    
/*паддинг здесь на своём месте или в боди?*/
    margin:0 auto;
    
}
/*SLIDERRRRRRRRRRRRR*/
.bg-wrapper {
  position: relative;
}
.slider {
/*   overflow: hidden; */
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.slider-controls {
  position: absolute;
  top: 564px;
  left: 38px;
  z-index: 1000;
}
.slider-wrapper {
  width: 100%;
}
.slide {
/*   float: left; */
  width: 200px;
  position: absolute;
  display: none;
    left:83px;
}
input[type="radio"]{
  display: none;
}
.slider-controls label {
  width: 21px;
  height: 21px;
    margin-right:4px;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}
#btn-1:checked ~ .bg-wrapper .slider-controls label[for="btn-1"],
#btn-2:checked ~ .bg-wrapper .slider-controls label[for="btn-2"],
#btn-3:checked ~ .bg-wrapper .slider-controls label[for="btn-3"] {
  background-color: #fff;
}


/* WARNING! Magic belllow this point! */

/* slide changes */
#btn-1:checked ~ .bg-wrapper .slider .slider-wrapper .slide:nth-child(1) {
	display: block;
}
#btn-2:checked ~ .bg-wrapper .slider .slider-wrapper .slide:nth-child(2) {
	display: block;
}
#btn-3:checked ~ .bg-wrapper .slider .slider-wrapper .slide:nth-child(3) {
	display: block;
}

#btn-1:checked ~ .bg-wrapper {
  background-color: transparent;
}

#btn-2:checked ~ .bg-wrapper {
  background-color: #8996a6;
}

#btn-3:checked ~ .bg-wrapper {
  background-color: #9d8b84;
}
/*SLIDERRRRRRRRRRRRR*/
>>>>>>> origin/master
.container a{
    color:white;
}
nav{
    display:inline-block;
<<<<<<< HEAD
    width:515px;
    vertical-align:top;
    outline:1px solid red;
=======
    width:71%;
    vertical-align:top;
    margin-right:2.2%;
>>>>>>> origin/master
}
.main-navigation ul{
    padding:0;
    margin-left:0;
    float:left;
    list-style:none;
    font-weight:bold;
}
.main-navigation li{
    float:left;
    margin-top:13px;
<<<<<<< HEAD
    margin-right:28px;
=======
    margin-right:27px;
>>>>>>> origin/master
}
.logo{
    margin-top:10px;
    margin-right:31px;
    margin-left:-5px;
    float:left;
}
.user-block{
    display:inline-block;
<<<<<<< HEAD
    margin-top:23px;
    position:relative;
    margin-left:16.9%;
}
.right-bottom{
    position: absolute;
    right:3px;
    top:28px;
}
.right-bottom span{
    font-size:14px;
    font-weight:bold;
=======
    width:22.2%;
    margin-top:23px;
    position:relative;
}
.right-bottom{
    position: absolute;
    right:0;
>>>>>>> origin/master
}
.user-block a{
    text-decoration:none;
    font-size:14px;
    background-color:rgba(255,255,255, .2);
}
.magnifier{
    width:33px;
    height:33px;
    float:left;
    border-radius:50%;
<<<<<<< HEAD
    margin-right:10px;
=======
    margin-right:9px;
>>>>>>> origin/master
    position:relative;
}
.login{
    width:48px;
    height:25px;
    float:left;
    position:relative;
<<<<<<< HEAD
    padding-top:7px;
=======
    padding-top:6px;
>>>>>>> origin/master
    padding-left:45px;
    border-radius:20px;
    margin-right:10px;
}
.entrance{
    position:absolute;
}
.entrance{
    position:absolute;
}
.cart{
    width:72px;
    height:25px;
    float:left;
    position:relative;
<<<<<<< HEAD
    padding-top:7px;
=======
    padding-top:6px;
>>>>>>> origin/master
    padding-left:45px;
    border-radius:20px;
}
.basket{
    position:absolute;
}
.time{
    font-size:14px;
    float:right;
    margin-top:20px;
}
.right-bottom b{
    float:right;
    font-size:22px;
    margin-top:4px;
}
.breadcrumbs{
    font-size:14px;
    margin-top:25px;
    margin-left:5px;
}
.breadcrumbs a{
    margin-right:20px;
}
.title{
    margin:0;
    padding:0;
}
.title h1{
    margin-top:2px;
    margin-bottom:11px;
}
section h2{
    font-size:35px;
    margin:0;
}
.breadcrumbs{
    font-size:14px;
    margin-top:25px;
    margin-left:5px;
}
.breadcrumbs a{
    margin-right:20px;
}
.title{
    margin:0;
    padding:0;
}
.title h1{
    margin-top:2px;
    margin-right:2px;
}
section h2{
    font-size:35px;
    margin:0;
}
.promo-left{
<<<<<<< HEAD
    background: url("../img/raspberry.png") no-repeat;
    min-height:229px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    vertical-align:top;
    font-weight:bold;
    position:relative;
    background-size:cover;
    box-sizing:border-box;
}
.promo-right{
    background: url("../img/chocolate.png") no-repeat;
    min-height:229px;
=======
    width:46.6%;
    background: url("../img/raspberry.png") no-repeat;
    display:inline-block;
    min-height:229px;
    box-sizing:border-box;
    margin-right:2.2%;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    border-radius:20px;
    vertical-align:top;
    font-weight:bold;
}
.promo-right{
    width:46.6%;
    background: url("../img/chocolate.png") no-repeat;
    display:inline-block;
    min-height:229px;
    border-radius:20px;
    box-sizing:border-box;
>>>>>>> origin/master
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    font-weight:bold;
<<<<<<< HEAD
    position:relative;
    background-size:cover;
    box-sizing:border-box
}
.block{
    width:48.6%;
    border-radius:20px;
    float:left;
    font-size:0;
    vertical-align: top;
    
}
.promo-right p, .promo-left p{
    font-size:18px;
}
.btn{
    display:inline-block;
    border-radius:100px;
    padding:10px 18px 12px 18px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 2px 2px 0 #780b01;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.promo-btn{
   position:absolute;
    right:21px;
    bottom:24px;
    font-size:18px;
}
.promo-right a, .promo-left a{
    display:block;
    padding-top:8px;
    text-decoration:none;
}
.ice-cream{
    position:relative;
   display:inline-block;
    vertical-align:top;
    font-size:0;
    width:267px;
=======
}
.promo-right p, .promo-left p{
    font-size:18px;
}
.promo-left .promo-btn{
    width:165px;
    height:42px;
    border-radius:25px;
    background:#e74c36;
    float:right;
    margin-top:42px;
    text-align:center;
}
.promo-right .promo-btn{
    width:190px;
    height:42px;
    border-radius:25px;
    background:#e74c36;
    float:right;
    margin-top:42px;
    text-align:center;
}
.promo-right a, .promo-left a{
    display:block;
    padding-top:8px;
    text-decoration:none;
}
.content article{
    display:inline-block;
    vertical-align:top;
    font-size:0;
    width:22.2%;
/*Тут с шириной как быть? В имг заданы пикселы тут проценты.*/
>>>>>>> origin/master
    margin-top:40px;
    margin-bottom:35px;
    z-index:1;
}
<<<<<<< HEAD
.title-price{
    font-size:45px;
    font-weight:bold;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
=======
.content article:not(:last-child){
     margin-right:2.2%;
/*burn in hell bitch*/
>>>>>>> origin/master
}
.icon{
    font-family: 'my font';
    font-size:30px;
    font-weight:bold;
}
.block .ice-cream:first-child{
    margin-right:5.1%;
}
.ice-cream a{
    display:block;
    color:white;
    font-size:16px;
    text-align:center;
    margin-top:15px;
}
.about-us{
<<<<<<< HEAD
    width:99.5%;
=======
    width:100%;
>>>>>>> origin/master
    min-height:306px;
    background: url("../img/waffle.jpg") repeat;
    border-radius:18px;
    color:#323232;
<<<<<<< HEAD
    margin-bottom:41px;
    box-sizing:border-box;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:15px;
}
.about-us h2{
    margin-bottom:9px;
=======
    margin-bottom:40px;
    box-sizing:border-box;
    padding-left:20px;
>>>>>>> origin/master
}
.facts{
    width:504px;
    float:left;
<<<<<<< HEAD
    margin-left:58px;
    position:relative;
    margin-bottom: -2px;
}
.blog{
    min-height:220px;
    background: url("../img/strawberry.png") no-repeat;
    color:#5a5a5a;
    margin-bottom:35px;
    padding:20px;
    margin-right:2%;
    vertical-align:top;
    box-sizing: border-box;
}
.blog span{
    margin:0;
=======
    margin-left:55px;
}
.blog{
    width:560px;
    min-height:220px;
    display:inline-block;
    vertical-align:top;
    background: url("../img/strawberry.png") no-repeat;
    color:#5a5a5a;
    margin-bottom:35px;
    box-sizing: border-box;
    padding:20px;
>>>>>>> origin/master
}
.blog a{
    color:#353535;
    font-size:24px;
}
.subscribe{
<<<<<<< HEAD
    min-height:220px;
    background: url("../img/mail.png") no-repeat;
    color:#5a5a5a;
    padding:20px;
    box-sizing: border-box;
}
.subscribe p{
    font-size:15px;
}
input[type="submit"]{
    border:none;
    color:white;
    font-size:17px;
=======
    width:560px;
    height:220px;
    display:inline-block;
    background: url("../img/mail.png") no-repeat;
    color:#5a5a5a;
    box-sizing: border-box;
    padding:20px;
}
input[type="submit"]{
    width:131px;
    height:45px;
    background:#ea5239;
    color:white;
    border-radius:25px;
    border:none;
>>>>>>> origin/master
}
input[type="email"]{
    width:368px;
    height:44px;
    float:left;
    border-radius:7px;
<<<<<<< HEAD
    box-sizing:border-box;
    padding:0 10px;
    margin-right:10px;
}
=======
}
::-webkit-input-placeholder {padding-left:10px;}
::-moz-placeholder  {padding-left:10px;}
:-ms-input-placeholder{padding-left:10px;}
/*Плэйсхолдер в мозилле ну никак не хочет стилизоваться. Почему? Я что, так много прошу?(*/
>>>>>>> origin/master
.submit-group{
    margin-top:37px;
}
.map-info{
    height:429px;
    width:100%;
<<<<<<< HEAD
    margin:0 auto;
=======
    margin:0 -2.3%;
>>>>>>> origin/master
    background: url("../img/map.jpg") no-repeat;
    background-size:cover;
}
.info{
    position:absolute;
    background:white;
    color:black;
    width:302px;
    height:305px;
    box-sizing:border-box;
<<<<<<< HEAD
    border-radius:20px;
    padding-left:25px;
    padding-top:30px;
    text-align:left;
    right:3.4%;
    bottom:-70%;
}
.info b{
    font-size: 18px;
}
.info span, .info b{
    float:left;
}
.info-btn{
    float:left;
    color:white;
    margin-top:65px;
    padding:10px 30px 12px 30px;
    font-size:17px;
=======
    border-radius:20px;
    padding-left:25px;
    padding-top:30px;
    text-align:left;
    float:right;
    margin-top:65px;
}
.info b{
    font-size: 18px;
}
.info span, .info b{
    float:left;
}
.info-btn{
    float:left;
    width:254px;
    height:42px;
    color:white;
    background:#ec583c;
    border-radius:20px;
    margin-top:30px;
    text-align:center;
}
.info-btn a{
    display:block;
    padding-top:8px;
>>>>>>> origin/master
}
/*СТРАНИЦА ДВА*/

.sort-filter, .fat-filter, .price-filter, .fill-filter, .btn-filter, .range-filter{
    display:inline-block;
    vertical-align:top;
<<<<<<< HEAD
}
.main-filter{
=======
    
}
.main-filter{
    font-weight:bold;
>>>>>>> origin/master
    font-size:14px;
}
.sort-filter{
    margin:0;
    padding:0;
<<<<<<< HEAD
    width:150px;
=======
>>>>>>> origin/master
}
sort-filter p{
    margin:1px;
    padding:0;
}
.range-filter{
    width:219px;
}
<<<<<<< HEAD

.fat-lable{
    padding: 10px 10px 10px 10px;
    background:rgba(255,255,255, .2);
    border-radius:100px;
}
.fill{
    width:703px;
    height:37px;
    background:rgba(255,255,255, .2);
    border-radius:100px;
}
/*filter range*/
.range-controls {
  position: relative;
  padding-top: 19px;
    padding-bottom:19px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 100px;
  background:rgba(255,255,255, .2);
}
.range-controls .scale {
  height: 2px;
  background:#d1d9d2;
}

.range-controls .bar {
  width: 57%;
  height: 2px;
    margin-left:41px;
  background: white;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 10px 0 black;
}

.range-controls .toggle-min {
  left: 44px;
    top:11px;
}

.range-controls .toggle-max {
  left: 148px;
    top:11px;
}
/*range*/
/*fat*/
input[type=radio] + label:before {
    content: "\26AB";
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
    font-size: 20px;    
    line-height: 20px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .2s;
}
input[type=radio]:checked + label:before {
    font-size: 20px;    
  line-height:21px;
}
input[type=checkbox], input[type=radio] {display: none;}
/*fat*/
/*fill*/
input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid white;
    font-size: 20px;    
    line-height: 22px;
    margin: 5px 5px 0 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .2s;
    border-radius:5px;
}

input[type=checkbox]:checked + label:before {
    color: white;
}
/*fill*/

select{
    background:rgba(255,255,255, .2)
    width:194px;
    height:37px;
    border-radius:100px;
    padding:5px;
}
.block:nth-child(odd){
    margin-right:2.3%;
}
.paginator{
    position:absolute;
    right:30px;
    bottom:70px;
}
.paginator a{
    display:inline-block;
    vertical-align: baseline;
    color:white;
    text-decoration:none;
    margin-right:9px;
}
.paginator a:first-of-type{
    color:black;
    
    border-radius:50%;
    background:white;
    padding:3px 8px 3px 8px;
    
}
.btn-filter{
    padding: 12px 50px;
    background:rgba(255,255,255, .2);
    border-radius:100px;
    border:1px solid white;
}
.btn-filter a{
    text-decoration:none;
}
=======
.range-filter .range-controls{
    position:relative;
    height:50px;
    border-radius:25px;
    background:#aabab0;
    overflow:hidden;
}
.scale{
    width:188px;
    margin-top:22px;
  margin-left:15px;
    height:4px;
    background:#d7dcde;
}
.bar{
  width:107px;
  margin-left:50px;
    height:4px;
    background:white;
}
.toggle{
    position:absolute;
    top:15px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.range-filter:first-child .range-controls .min-toggle {
    left:55px;
}
.range-filter:first-child .range-controls .max-toggle{
    left:165px;
}
.fat-lable{
    width:415px;
    height:37px;
    background:rgba(255,255,255, .2)
    border-radius:25px;
}
.fill{
    width:703px;
    height:37px;
    background:rgba(255,255,255, .2);
    border-radius:25px;
    
}
select{
    background:rgba(255,255,255, .2)
    width:194px;
    height:37px;
    border-radius:20px;
    padding:5px;
}
.main-pages{
    position:relative;
    background:red;
}
>>>>>>> origin/master

/*footer*/


footer{
    box-sizing:border-box;
    color:white;
    padding-top:35px;
}
footer a{
    color:white;
}
.footer-social{
    display:inline-block;
    width:293px;
    margin-right:105px;
<<<<<<< HEAD
}
.footer-social a{
    display:inline-block;
    width: 27px;
    height: 27px;
    margin-right: 10px;
    font-size: 13px;
    position: relative; 
}
.footer-info{
    display:inline-block;
    width:315px;
=======
    margin-left:25px;
}
.footer-social a{
    display:inline-block;
    border-radius:50%;
    width:39px;
    height:39px;
    border:
    margin-right:10px;
    font-size:13px;
    position:relative;
    
}
.footer-info{
    display:inline-block;
    width:380px;
>>>>>>> origin/master
    padding-bottom:30px;
    vertical-align:top;
    margin-right:230px;
}
.info-left{
<<<<<<< HEAD
    width:140px;
=======
    width:160px;
>>>>>>> origin/master
    display:inline-block;
    font-size:13px;
}
.info-right{
    display:inline-block;
<<<<<<< HEAD
    width:170px;
=======
    width:180px;
>>>>>>> origin/master
    font-size:13px;
}
.footer-copyright{
    display:inline-block;
    width:194px;
    font-size:12px;
}
.logo-academy{
    position:relative;
    width: 108px;
    height: 38px;
}
/*Sprite*/
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

<<<<<<< HEAD
.sprite-cart {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-entrance {
    width: 21px;
    height: 19px;
    background-position: -10px -90px;
}

.sprite-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -129px;
=======
.sprite-entrance {
    width: 21px;
    height: 19px;
    background-position: -10px -50px;
}

.sprite-fb {
    width: 38px;
    height: 38px;
    background-position: -10px -89px;
>>>>>>> origin/master
}

.sprite-heart {
    width: 15px;
    height: 13px;
<<<<<<< HEAD
    background-position: -10px -181px;
=======
    background-position: -10px -147px;
>>>>>>> origin/master
}

.sprite-hit {
    width: 61px;
    height: 61px;
<<<<<<< HEAD
    background-position: -10px -214px;
}

.sprite-insta {
    width: 32px;
    height: 32px;
    background-position: -10px -295px;
=======
    background-position: -10px -180px;
}

.sprite-insta {
    width: 38px;
    height: 38px;
    background-position: -10px -261px;
>>>>>>> origin/master
}

.sprite-left {
    width: 9px;
    height: 14px;
<<<<<<< HEAD
    background-position: -10px -347px;
}

.sprite-login {
    width: 21px;
    height: 19px;
    background-position: -10px -381px;
=======
    background-position: -10px -319px;
>>>>>>> origin/master
}

.sprite-logo-academy {
    width: 108px;
    height: 38px;
<<<<<<< HEAD
    background-position: -10px -420px;
=======
    background-position: -10px -353px;
>>>>>>> origin/master
}

.sprite-magnifier {
    width: 17px;
    height: 17px;
<<<<<<< HEAD
    background-position: -10px -478px;
}

.sprite-pin {
    width: 218px;
    height: 142px;
    background-position: -10px -515px;
}

.sprite-price-1 {
    width: 157px;
    height: 39px;
    background-position: -10px -677px;
}

.sprite-price-10 {
    width: 157px;
    height: 39px;
    background-position: -10px -736px;
}

.sprite-price-11 {
    width: 157px;
    height: 39px;
    background-position: -10px -795px;
}

.sprite-price-12 {
    width: 157px;
    height: 39px;
    background-position: -10px -854px;
}

.sprite-price-2 {
    width: 157px;
    height: 39px;
    background-position: -10px -913px;
}

.sprite-price-3 {
    width: 157px;
    height: 39px;
    background-position: -10px -972px;
}

.sprite-price-4 {
    width: 157px;
    height: 38px;
    background-position: -10px -1031px;
}

.sprite-price-5 {
    width: 157px;
    height: 39px;
    background-position: -10px -1089px;
}

.sprite-price-6 {
    width: 157px;
    height: 39px;
    background-position: -10px -1148px;
}

.sprite-price-7 {
    width: 157px;
    height: 39px;
    background-position: -10px -1207px;
}

.sprite-price-8 {
    width: 157px;
    height: 39px;
    background-position: -10px -1266px;
}

.sprite-price-9 {
    width: 157px;
    height: 40px;
    background-position: -10px -1325px;
=======
    background-position: -10px -411px;
>>>>>>> origin/master
}

.sprite-right {
    width: 9px;
    height: 14px;
<<<<<<< HEAD
    background-position: -10px -1385px;
}

.sprite-tw {
    width: 33px;
    height: 32px;
    background-position: -10px -1419px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -1471px;
    border: 4px solid rgba(255,255,255, .8);
    border-radius: 50%;
=======
    background-position: -10px -448px;
}

.sprite-tw {
    width: 39px;
    height: 38px;
    background-position: -10px -482px;
}

.sprite-vk {
    width: 38px;
    height: 38px;
    background-position: -10px -540px;
>>>>>>> origin/master
}

.sprite-waffle-cow {
    width: 48px;
    height: 49px;
<<<<<<< HEAD
    background-position: -10px -1523px;
=======
    background-position: -10px -598px;
>>>>>>> origin/master
}

.sprite-waffle-ice-cream {
    width: 49px;
    height: 49px;
<<<<<<< HEAD
    background-position: -10px -1592px;
=======
    background-position: -10px -667px;
>>>>>>> origin/master
}

.sprite-waffle-leaf {
    width: 49px;
    height: 49px;
<<<<<<< HEAD
    background-position: -10px -1661px;
=======
    background-position: -10px -736px;
>>>>>>> origin/master
}

.sprite-waffle-thermometer {
    width: 48px;
    height: 49px;
<<<<<<< HEAD
    background-position: -10px -1730px;
}


.social-btn::before, .logo-academy::before, .magnifier::before, .login::before, .cart::before, .left::before, .right::before, .waffle-ice-cream::before, .waffle-cow::before, .waffle-thermometer::before, .waffle-leaf::before, .img-good::before{
=======
    background-position: -10px -805px;
}

.social-btn::before, .logo-academy::before, .magnifier::before, .login::before, .cart::before, .left::before, .right::before{
>>>>>>> origin/master
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/spritesheet.png");
    background-repeat:no-repeat;
}
<<<<<<< HEAD
.price1::after, .price2::after, .price3::after, .price4::after, .price5::after, .price6::after, .price7::after, .price8::after, .price9::after, .price10::after, .price11::after, .price12::after{
    content:'';
    position:absolute;
    background-image: url("../img/spritesheet.png");
    background-repeat:no-repeat;
}
.price1::after{
    width: 157px;
    height: 39px;
    background-position: -10px -677px;
    left: -2px;
    bottom: 20px;
}
.price2::after{
    width: 157px;
    height: 39px;
    background-position: -10px -913px;
    left: -2px;
    bottom: 20px;
}
.price3::after{
    width: 157px;
    height: 39px;
    background-position: -10px -972px;
    left: -2px;
    bottom: 20px;
}
.price4::after {
    width: 157px;
    height: 38px;
    background-position: -10px -1031px;
    left: -2px;
    bottom: 20px;
}
.price5::after{
    width: 157px;
    height: 39px;
    background-position: -10px -1089px;
    left: -2px;
    bottom: 20px;
}
.price6::after{
    width: 157px;
    height: 39px;
    background-position: -10px -1148px;
    left: -2px;
    bottom: 20px;
}
.price7::after{
    width: 157px;
    height: 39px;
    background-position: -10px -1207px;
    left: -2px;
    bottom: 20px;
}
.price8::after{
    width: 157px;
    height: 39px;
    background-position: -10px -1266px;
    left: -2px;
    bottom: 20px;
}
.price9::after{
    width: 157px;
    height: 40px;
    background-position: -10px -1325px;
    left: -2px;
    bottom: 20px;
}
.price10::after{
    width: 157px;
    height: 39px;
    background-position: -10px -736px;
    left: -2px;
    bottom: 20px;
}
.price11::after{
    width: 157px;
    height: 39px;
    background-position: -10px -795px;
    left: -2px;
    bottom: 20px;
}
.price12::after{
    width: 157px;
    height: 39px;
    background-position: -10px -854px;
    left: -2px;
    bottom: 20px;
}
.img-good::before{
    width: 61px;
    height: 61px;
    background-position: -10px -214px;
    position:absolute;
    left:28px;
    top:29px;
}
.img-good{
    position:relative;
}
.price{
    position:absolute;
    left:0;
    top:0;
    font-weight:bold;
    z-index:100;
}
.waffle-leaf::before {
    width: 49px;
    height: 49px;
    background-position: -10px -1661px;
    position:absolute;
    left:-34px;
    top:25px;
}
.waffle-thermometer:before{
    width: 48px;
    height: 49px;
    background-position: -10px -1730px;
    position:absolute;
    left:-34px;
    top:25px;
}
.waffle-cow::before{
    width: 48px;
    height: 49px;
    background-position: -10px -1523px;
    position:absolute;
    left:-34px;
    top:25px;
}
.waffle-ice-cream::before{
    width: 49px;
    height: 49px;
    background-position: -10px -1592px;
    position:absolute;
    left:-34px;
    top:25px;
}
.left::before{
    left:-13px;
    width: 9px;
    height: 14px;
    background-position: -10px -347px;
    opacity:.2;
}
.right::before{
    right:1000px;
     width: 9px;
    height: 14px;
    background-position: -10px -1385px;
    left:100%;
}
.login::before{
    left:25%;
     width: 21px;
    height: 19px;
    background-position: -10px -90px;
}
.cart::before{
    left:25%;
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
=======
.left::before{
    left:-5px;
}
.right::before{
    right:1000px;
}
.left::before{
    width: 9px;
    height: 14px;
    background-position: -10px -319px;
}
.right::before{
    width: 9px;
    height: 14px;
    background-position: -10px -448px;
}
.login::before, .cart::before{
    left:25%;
}
.login::before{
    width: 21px;
    height: 19px;
    background-position: -10px -50px;
}
.cart::before{
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
>>>>>>> origin/master
}
.magnifier::before{
    width: 17px;
    height: 17px;
<<<<<<< HEAD
    background-position: -10px -478px;
}
.social-btn-fb::before{
    width: 32px;
    height: 32px;
    background-position: -10px -129px;
    border: 4px solid rgba(255,255,255, .8);
    border-radius: 50%;
}
.social-btn-vk::before{
    width: 32px;
    height: 32px;
    background-position: -10px -1471px;
    border: 4px solid rgba(255,255,255, .8);
border-radius: 50%;
}
.social-btn-inst::before{
    width: 32px;
    height: 32px;
    background-position: -10px -295px;
    border: 4px solid rgba(255,255,255, .8);
    border-radius: 50%;
}
.social-btn-tw::before{
    width: 32px;
    height: 32px;
    background-position: -10px -1419px;
    border:4px solid rgba(255,255,255, .9);
        border-radius:50%;
}
.social-btn::before:hover{
    opacity:1;
    border:4px solid (255, 255, 255, .7)
=======
    background-position: -10px -411px;
}
.social-btn-fb::before{
    width: 38px;
    height: 38px;
    background-position: -10px -89px;
}
.social-btn-vk::before{
    width: 38px;
    height: 38px;
    background-position: -10px -540px;
}
.social-btn-inst::before{
    width: 38px;
    height: 38px;
    background-position: -10px -261px;
}
.social-btn-tw::before{
    width: 39px;
    height: 38px;
    background-position: -10px -482px;
>>>>>>> origin/master
}
.logo-academy::before{
    width: 108px;
    height: 38px;
<<<<<<< HEAD
    background-position: -10px -420px;
    left:55px;
    top:0;
}
.price::after{
    content:'A';
    font-family: 'my font';
    position:absolute;
}
.content{
    width: 100%;
    height: 1350px;
}
=======
    background-position: -10px -353px;
}
/*Glyphter*/
.about-us .icon{
    font-family: 'my font';
    font-size:11.81px;
    color:white;
}
@font-face {
    font-family: 'my font';
    src: url('../fonts/my-font.woff') format('woff');
}
    
>>>>>>> origin/master
