body{
    font-family:"Roboto", "Arial", sans-serif;
    font-size:16px;
    color:white;
    background:#849d8f;
    position:relative;
}
h1{
    font-size:35px;
}
h2{
    font-size:24px;
}
.clearfix{
    content:'';
    display:table;
    clear:both;
}
.overlay{
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(0,0,0, .3);
    display:none;
    z-index:1000;
}
.show{
    display:block;
}
.backlight{
    background:#849d8f url("../img/backlight.png") no-repeat;
    background-size:100% 30%;
}
a{
    color:white;
}
body>img{
    position:absolute;
    top:0;
    left:0;
}
/*DROPDOWN*/
.drop-cart{
    width:540px;
    height:240px;
    background:#f8f7f4;
    color:#333333;
    border-radius:5px;
    box-sizing:border-box;
    padding:15px; 
    position:relative;
    box-shadow: 0 20px 20px 0 rgba(0,0,0, .4);
}
.drop-cart a{
    position:absolute;
    bottom: 17px;
    right: 16px;
    font-size:15px;
    line-height:24.3px;
    padding: 5px 17px 10px 21px;
}
.price-table{
    font-weight:bold;
    position:absolute;
    bottom: 71px;
    right: 22px;
    font-size:15px;
}
table{
    font-size:12px;
    position:relative;
}
table::before{
    content:'';
    width:510px;
    height:1px;
    background:#cacac7;
    position:absolute;
    bottom: -7px;
    left: -1px;
}
td{
    padding: 8px 11px 10px 3px;
    font-size:13px;
}
td:nth-child(4), td:nth-child(5){
    padding:10px 10px;
    white-space:nowrap;
}
td:nth-child(3){
    width: 226px;
}
td:nth-child(4){
    width: 104px;
}
tr:last-child td:nth-child(3){
    padding-top: 17px;
}
td span{
    color:#888888;
}
.magnifier{
    float:left;
    width:33px;
    height:33px;
    border-radius:50%;
    margin-right:10px;
    background: rgba(255,255,255, .2) url("../img/magnifier.svg") no-repeat 50% 50%;
    z-index:9999;
    position:relative;
    font-size:14px;
}
.magnifier:hover{
    color:black;
    background: #f8f7f4 url("../img/magnifier-hover.svg") no-repeat 50% 50%;
}
.drop:hover>.dropdown, .drop:hover>.dropdown-catalog{
    display:block;
}
.drop{
  list-style:none;
    position:relative;
}
.right-top>ul{
  padding:0;
    float:left;
    margin:0;
}
.dropdown{
    border-radius:10px;
    display:none;
    width: 232px;
    position:absolute;
    z-index:1000;
    padding:0;
}
.dropdown li{
    list-style:none;
    padding-top:29px;
    width:273px;
}
.pos-magnifier{
    left:-240px;
    top:7px;
}
.pos-login{
    top:7px;
    right:52px;
}
.pos-login a{
    color:black;
    font-size:13px;
    line-height:24.3px;
    margin-top: -2px;
    display: inline-block;
    margin-left: -2px;
}
.pos-login .helper{
    height:146px;
}
.pos-login input{
    margin-top: 4px;
    float: left;
    margin-right: 21px;
}
.pos-login input[type="password"]{
    margin-bottom: 12px;
}
.pos-cart{
    top:7px;
    left:-423px;
}
input[type="email"], input[type="password"], input[type="text"], textarea{
    box-sizing: border-box;
    padding: 9px 14px;
    width:242px;
    color:#999999;
    font-size:15px;
    position:relative;
    border:2px solid #d3d3d2;
    border-radius:5px;
    margin-bottom: 5px;
}
input, textarea{
    outline:none;
}
input[type="search"]{
    box-sizing: border-box;
    padding: 9px 9px;
    width:242px;
    color:#999999;
    font-size:15px;
    position:relative;
    border:2px solid #d3d3d2;
    border-radius:5px;
    margin-bottom: 1px;
}
.right-top input[type="submit"]{
    border:none;
}
footer a:hover{
    color:#ffbc9e;
}
footer a:active{
    color:#ffbc9e;
}
.dropdown a:active{
    cursor:pointer;
}
.dropdown a:hover{
        color: #ffbc9e;
}
.helper{
    background:#f8f7f4;
    margin: 0;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0, .4);
}
.pre-helper{
    list-style:none;
    padding-top:29px;
    width:272px;
    margin:0;
}
.pre-helper-cart{
    padding-right:263px;
}
/*DROPDOWN*/
/*DROPDOWN-CATALOG*/
.dropdown-catalog{
    display:none;
    left: -7px;
    top: 3px;
    position:absolute;
    z-index:100;
    padding:0;
}
.list{
    list-style:none;
    padding: 3px 0;
    margin:0;
    background:#f8f7f4;
    width: 142px;
    height:170px;
    border-radius:5px;
    box-sizing:border-box;
}
.list li{
    margin-bottom:3px;
    font-weight:none;
}
.list a{
    display:block;
    padding: 6px 8px 5px 19px;
    font-size:14px;
    color:#343434;
    text-decoration:none;
}
.list li a:active{
    background:#d07058;
}
.new a{
    padding:1px;
}
.span-catalog{
    display:block;
    padding: 6px 8px 12px 19px;
    font-size:14px;
    color:#343434;
    position:relative;
}
.span-catalog::after{
    content: '';
    width: 128px;
    height: 1px;
    background: #d1d0ce;
    position: absolute;
    left: 5px;
    top: 34px;
}
.list span{
    font-weight:bold;
}
.list a:hover{
     background:#fbded7
}


/*DROPDOWN-CATALOG*/


/*SLIDERRRR*/
body > input[type="radio"] {
    display: none;
}
.site-wrapper {
    min-width: 940px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}
.site-wrapper::before,
.site-wrapper::after {
    background-image: url("../img/top-layer.png");
}
.site-wrapper::after {
    background-image: url("../img/middle-layer.png");
}
.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    margin-bottom:40px
}
.slider {
    position: relative;
    padding-top: 330px;
    text-align: center;
    color: #ffffff;
}
.slide{
    display: none;
}
.slide-title {
    width: 788px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 60px;
    line-height:60.35px;
    font-size:60px;
}
.slide-btn {
    font-weight: 600;
    font-size: 31px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    padding: 11px 41px 14px 43px;
}
.slider-controls {
    position: absolute;
    bottom: 23px;
    left: 26px;
    z-index: 20;
    font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls label:hover{
    background: rgba(255,255,255, .4)
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/top-layer.png");
}
#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/middle-layer.png");
}
#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/bottom-layer.png");
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}

/*SLIDERRRRR*/

.container{
    position:relative;
    min-width:900px;
    width:1200px;
    padding:0 27.6px;
    margin:0 auto;
    box-sizing:border-box;
}
nav{
    display:inline-block;
    width:515px;
    vertical-align:top;
    margin-top:1px;
}
.span-btn{
    border-radius:100px;
    padding:10px 18px 12px 18px;
    text-decoration:none;
    color:white;
    background:#d07058;
}
.main-navigation>ul>li, .main-navigation>ul{
    padding:0;
    margin-right:1px;
    float:left;
    list-style:none;
}
.top>li{
    float:left;
    margin-top:13px;
    position:relative;
    z-index:1000;
}
.main-navigation .w-btn{
    padding: 6px 13px 6px 12px;
}
.w-btn{
    font-weight:bold;
    position:relative;
}
.login-btn{
    padding: 4px 28px 6px 31px;
    font-size:15px;
    line-height:24.3px;
    margin-top: 13px;
}
.logo{
    margin-top:10px;
    margin-right:17px;
    margin-left:-5px;
    float:left;
}
.user-block{
    display:inline-block;
    margin-top:23px;
    position:relative;
    float:right;
}
.right-bottom{
    position: absolute;
    right: 0px;
    top: 28px;
}
.right-bottom span{
    font-size:14px;
    font-weight:bold;
}
.login{
    width:48px;
    height:25px;
    float:left;
    padding-top:7px;
    padding-left:45px;
    border-radius:20px;
    margin-right:10px;
    background:rgba(255,255,255, .2) url("../img/login.svg") no-repeat 24% 50%;
    position:relative;
    z-index:9999;
    font-size:14px;
    text-decoration:none;
}
.login:hover{
    color:black;
    background: #f8f7f4 url("../img/login-hover.svg") no-repeat 24% 50%;
}
.cart{
    width:72px;
    height:25px;
    float:left;
    padding-top:7px;
    padding-left:45px;
    border-radius:20px;
    background: rgba(255,255,255, .2) url("../img/cart.svg") no-repeat 19% 50%;
    z-index:9999;
    position:relative;
    font-size:14px;
    text-decoration:none;
}
.cart:hover{
    color:#f7f6f3;
    background: #f8f7f4 url("../img/cart-hover.png") no-repeat 19% 50%;
}
.cart:hover.cart::before{
    display:block;
}
.cart::before{
    content:'2 товара';
    color:#313131;
    font-size:14px;
    position:absolute;
    display:none;
    top: 7px;
    right: 15px;
    font-weight: bold;
}
.time{
    font-size:14px;
    float:right;
    margin-top:20px;
}
.right-bottom b{
    float:right;
    font-size:22px;
    margin-top:4px;
}
.breadcrumbs{
    font-size:14px;
    margin-top:34px;
    margin-left:0;
}
.breadcrumbs a{
    margin-right:17px;
}
.breadcrumbs a:hover{
    color:#ffbc9e;
}
.title{
    margin:0;
    padding:0;
}
.title h1{
    margin-top:2px;
    margin-bottom:27px;
}
section h2{
    font-size:35px;
    margin:0;
}
.promo-left{
    background: #d33b62 url("../img/raspberry.png") no-repeat;
    min-height: 229px;
    padding-left: 19px;
    padding-right: 18px;
    padding-top: 15px;
    vertical-align: top;
    font-weight: bold;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
}
.promo-right{
    background: #41271b url("../img/chocolate.png") no-repeat;
    min-height:229px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    font-weight:bold;
    position:relative;
    background-size:cover;
    box-sizing:border-box
}
.block{
    width:48.9%;
    border-radius:20px;
    display:inline-block;
    vertical-align: top;
}
.row, .promo-ice-cream, .content{
    font-size:0;
}
.row-paginator{
    text-align:right;
    
}
.promo-right p, .promo-left p{
    font-size:18px;
    margin-top: 14px;
}
.w-btn:hover{
    border-radius:100px;
    text-decoration:none;
    font-weight:bold;
    background:#fafbfb;
    color:black;
    border:none;
}
.w-btn:active {
    color:black;
    background:#eaeaea;
    box-shadow: inset 0 1px 1px 0 #6c6d6c;
}
.w-btn-border:hover{
    border-radius:100px;
    text-decoration:none;
    font-weight:bold;
    background:#fafbfb;
    color:black;
    border:none;
    border:2px solid white;
}
.w-btn-border:active {
    color:black;
    background:#eaeaea;
    box-shadow: inset 0 1px 1px 0 #6c6d6c;
}
.btn{
    display:inline-block;
    border-radius:100px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 2px 2px 0 #780b01;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 100px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
    background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.hid-btn{
    position: absolute;
    bottom: -58px;
    left: 32px;
    padding: 8px 34px 8px 34px;
    display: none;
    font-size: 15px;
    line-height: 24.3px;
    z-index:1000;
}
.catalog{
    z-index:1000;
}
.promo-btn{
    position:absolute;
    right:21px;
    bottom:24px;
    font-size:18px;
    padding: 11px 25px 11px 21px;
    display:block;
    text-decoration:none;
}
.promo-btn1{
    position:absolute;
    right: 19px;
    bottom: 32px;
    font-size: 18px;
    padding: 10px 22px 11px 23px;
    display:block;
    text-decoration:none;
}
.submit-btn{
    padding: 11px 22px 11px 21px;
}
.ice-cream{
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:267px;
    margin-top:40px;
    margin-bottom:35px;
    margin-right:2.2%;
}
.promo-ice-cream .ice-cream:last-child{
    margin-right:0;  
}
.content .ice-cream:nth-child(4n){
    margin-right:0;
}
.ice-cream:hover.ice-cream::after{
    display:block;
}
.ice-cream:hover .img-good{
    z-index:10000;
}
.ice-cream:hover>.hid-btn{
    display:block;
}
.ice-cream:hover> a{
    text-decoration:none;
}
.title-price{
    font-size:45px;
    font-weight:bold;
    position:absolute;
    bottom:0;
    left:0;
    z-index:100;
}
.block .ice-cream:first-child{
    margin-right:4.5%;
}
.ice-cream a:last-child{
    display:block;
    color:white;
    font-size:16px;
    text-align:center;
    margin-top:10px;
}
.price{
    line-height:13.13px;
    font-size:45px;
    position:absolute;
    left:0;
    bottom:25px;
    font-weight:bold;
    z-index:100;
}
.icon{
    font-family: 'my font';
    font-size:30px;
    font-weight:normal;
}
@font-face{
    font-family:"my font";
    src: url("../fonts/my-font.woff")
}
.prefix{
    font-size:29px;
    margin-left: 8px;
}
.dash{
    position:relative;
}
.dash::after {
    content: ' ';
    width: 16px;
    height: 3px;
    background: #323232;
    position: absolute;
    left: -19px;
    top: 13px;
}
.about-us{
    width:100%;
    min-height:306px;
    background: #efe3cd url("../img/waffle.jpg") repeat;
    border-radius:18px;
    color:#323232;
    margin-bottom:41px;
    margin-top:9px;
    box-sizing:border-box;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:15px;
}
.promo-right h2{
    margin-top:-5px;
}
.about-us h2{
    margin-bottom: 5px;
    line-height:30px;
    font-size:24px;
}
.row-left, .row-right{
    float:left;
}
.facts{
    width:504px;
    float:left;
    margin-left:58px;
    position:relative;
    margin-bottom: -9px;
    line-height:22px;
}
.blog{
    min-height:220px;
    background:#ffffff url("../img/strawberry.png") no-repeat;
    color:#5a5a5a;
    margin-bottom:40px;
    padding: 23px 20px 20px 20px;
    margin-right:2%;
    vertical-align:top;
    box-sizing: border-box;
}
.blog p{
    font-size:16px;
    color:#5a5a5a;
    margin:0;
    margin-bottom: -11px;
}
.blog a{
    color:#353535;
    font-size:24px;
    margin-top: 19px;
    display: block;
    font-weight:bold;
    
}
.subscribe{
    min-height:220px;
    background: #f8f7f4 url("../img/mail.png") no-repeat;
    color:#5a5a5a;
    padding: 17px 20px 20px 27px;
    box-sizing: border-box;
    background-size: 100% 100%;
}
.subscribe p{
    font-size:16px;
    line-height:22px;
}
.subscribe input[type="submit"]{
    border:none;
    color:white;
    font-size:17px;
}
.subscribe input[type="email"]{
    width:368px;
    height:44px;
    float:left;
    border-radius:5px;
    box-sizing:border-box;
    padding:0 10px;
    margin-right:10px;
}
.submit-group{
    margin-top:37px;
}
.map-info{
    height:429px;
    width:100%;
    margin:0 auto;
    background: url("../img/map.jpg") no-repeat;
    background-size:cover;
}
.info{
    position:absolute;
    background:white;
    color:black;
    width:302px;
    height:305px;
    box-sizing:border-box;
    border-radius:10px;
    padding-left: 27px;
    padding-top: 28px;
    padding-right: 14px;
    text-align:left;
    right:2.3%;
    bottom: 59px;
}
.bold-top{
    font-size: 18px;
    float:left;
    margin-top: 4px;
    margin-bottom: 19px;
}
.bold-bottom{
    font-size: 18px;
    float:left;
    margin-top: 6px;
    margin-top: 4px;
    margin-left: 0px;
    color:black;
    text-decoration:none;
}
.info span{
    float:left;
    font-size: 14px;
    line-height: 20px;
}

.info-btn{
    position:absolute;
    color:white;
    left: 28px;
    bottom: 31px;
    padding: 10px 32px 12px 31px;
    font-size:17px;
}
nav .span-btn{
    background:#d07058;
    padding: 6px 13px 6px 12px;
}
/*СТРАНИЦА ДВА*/
.ice-cream::after{
    content:'';
    position:absolute;
    top: -13px;
    left: -15px;
    width: 297px;
    height: 407px;
    background:rgba(255,255,255, .3);
    border-radius:10px;
    display:none;
    z-index:100;
}
.content .ice-cream{
    margin-bottom:3px;
}
.sort-filter, .fat-filter, .price-filter, .fill-filter, .range-filter{
    display:inline-block;
    vertical-align:top;
}
.main-filter{
    font-size:14px;
    margin-top: -5px;
}
.sort-filter{
    margin:0;
    padding:0;
    width:205px;
}
sort-filter p{
    margin:1px;
    padding:0;
}
.range-filter{
    width:219px;
    margin-right: 13px;
}
/*FATTTTTTTTTTT*/
.fat-label{
    background:rgba(255,255,255, .2);
    border-radius:100px;
    margin-top: -13px;
}
.fat-label label{
    font-size:16px;
}
.fat-label ul{
    width:400px;
    height:38px;
    margin-left: -27px;
}
.fat-filter li {
    list-style: none;
    margin: 9px 4px;
    display:inline-block;
}
.fat-filter input {
    display: none;
}
.fat-filter label {
    position: relative;
    margin-right:10px;
  /*отступ от кружочков*/
} 
.fat-filter label:last-child{
    margin-right:0;
}
input[type="radio"] + label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align:top;
    margin-right: 15px;
  /*От цифер*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
input[type="radio"]:checked + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
}

/*FATTTTTTTTTTTTTTTT*/
.fill{
    width:704px;
    background:rgba(255,255,255, .2);
    border-radius:100px;
    font-size:16px;
    padding: 0px 0px 5px 0px;
}
/*filter range*/
.range-controls {
    position: relative;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 18px;
    padding-left: 17px;
    border-radius: 100px;
    background:rgba(255,255,255, .2);
    width:182px
}
.range-controls .scale {
    height: 4px;
    background:#d1d9d2;
    width:186px;
}

.range-controls .bar {
    width: 53%;
    height: 4px;
    margin-left: 34px;
    background: white;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0, .1);
}
.range-controls .toggle-min {
    left: 35px;
    top: 9px;
}

.range-controls .toggle-max {
    left: 132px;
    top: 9px;
}
/*range*/
/*fill*/
input[type=checkbox] + label::before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid white;
    font-size: 20px;    
    line-height: 22px;
    margin: 7px 5px 0 10px;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: bottom;
    transition: color ease .2s;
    border-radius:5px;
}
.fill label::before:nth-child(3){
    margin:100px;
}
.fill label{
    margin:0 8px 0 6px
}
input[type=checkbox]:checked + label::before {
    color: white;
}
input[type=checkbox], input[type=checkbox]{
    display:none;
}
input[type="email"]:not(.icon-mail):hover, input[type="search"]:hover, input[type="password"]:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.icon-user:hover, .icon-mail:hover, .icon-textarea:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.icon-user:focus, .icon-mail:focus, .icon-textarea:focus{
    border:2px solid #8fbdec;
    border-radius:5px;
    color:black;
}


/*Focus*/

.icon-user:focus + .focus-user, .icon-mail:focus + .focus-mail, .icon-textarea:focus+.focus-textarea{
    display:block;
}
.focus-user{
    position:absolute;
    color:#8fbdec;
    left:40px;
    top:48px;
    font-size:11px;
    display:none;
}
.focus-mail{
    position:absolute;
    color:#8fbdec;
    left:40px;
    top:114px;
    font-size:11px;
    display:none;
}
.focus-textarea{
    position:absolute;
    color:#8fbdec;
    left:40px;
    top:178px;
    font-size:11px;
    display:none;
}
/*Focus*/
/*fill*/
.custom-select {
    position: relative;
    width: 194px;
    background:rgba(255,255,255, .2);
    border-radius: 5px;
    line-height: 36px;
    border-radius: 40px;
}
.custom-select:hover {
    background:#ffffff;
    color:#6a6a6a;
}
.custom-select:hover>.black{
    display:block;
}
select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance:none;
    position: relative;
    z-index: 2;
    background-color: transparent;
    outline: none;
    line-height: 36px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    font-size:16px;
    padding-left: 12px;
    padding-top: 2px;
}
.custom-select img{
    position:absolute;
    top: 17px;
    right: 14px;
}
.black{
    display:none;
}
.main-filter span{
    display:inline-block;
    margin-bottom: 6px;
    margin-left: 15px;
    font-size:14px;
}
.block:nth-child(odd){
    margin-right:2.2%;
}
.paginator{
    display:inline-block;
    font-size:16px;
    margin-bottom:22px;
}
.paginator a{
    display:inline-block;
    vertical-align: baseline;
    color:white;
    text-decoration:none;
    margin-right:1px;
    border-radius:50%;
    padding: 3px 8px 3px 8px;
    position:relative;
}
.paginator a:hover{
    background:rgba(255,255,255, .5)
}
.paginator a:last-child:hover{
    background:none;
}
.paginator a:first-of-type{
    color:black;
    border-radius:50%;
    background:white;
    padding: 2px 8px 2px 8px;
    margin:0;
}
.btn-filter{
    display:inline-block;
    vertical-align:top;
    padding: 6px 26px 7px 26px;
    background:rgba(255,255,255, .2);
    border-radius:100px;
    border:2px solid white;
    font-size:16px;
    margin-top: 23px;
    margin-left: 9px;
}
.btn-filter{
    text-decoration:none;
}

/*footer*/

footer{
    box-sizing:border-box;
    color:white;
    padding-top: 35px;
}
footer a{
    color:white;
}
.footer-social{
    display:inline-block;
    width:293px;
    margin-right: 123px;
}
.footer-social a{
    display:inline-block;
    width: 31px;
height: 31px;
    margin-right: 8px;
    font-size: 13px;
    position: relative; 
    border-radius:50%;
    border:3px solid rgba(255,255,255, .5);
}
.social-btn-tw{
    background: url(../img/tw.svg) no-repeat 50% 50%;
    opacity:.8;  
}
.social-btn-tw:hover{
    opacity:1;
}
.social-btn-tw:active{
    opacity:.8;
   box-shadow: inset 0 2px 1px 1px #989998;
}
.social-btn-inst{
    background: url(../img/insta.svg) no-repeat 50% 50%;
    opacity:.8;  
}
.social-btn-inst:hover{
    opacity:1;
}
.social-btn-inst:active{
    opacity:.8;
   box-shadow: inset 0 2px 1px 1px #989998;
}
.social-btn-fb{
    background: url(../img/fb.svg) no-repeat 50% 50%;
    opacity:.8;  
}
.social-btn-fb:hover{
    opacity:1;
}
.social-btn-fb:active{
    opacity:.8;
   box-shadow: inset 0 2px 1px 1px #989998;
}
.social-btn-vk{
    background: url(../img/vk.svg) no-repeat 50% 50%;
    opacity:.8;  
}
.social-btn-vk:hover{
    opacity:1;
}
.social-btn-vk:active{
    opacity:.8;
   box-shadow: inset 0 2px 1px 1px #989998;
}
.footer-info{
    display:inline-block;
    width:315px;
    vertical-align:top;
    margin-right: 216px;
}
.footer-info a{
    display:block;
    padding-bottom:7px;
}
.info-left{
    width:140px;
    display:inline-block;
    vertical-align: top;
    font-size:13px;
    position:relative;
}
.info-right{
    display:inline-block;
    vertical-align: top
    width:170px;
    font-size:13px;
}
.footer-copyright{
    float:right;
    width:191px;
    font-size:12px;
}
.logo-academy{
    position:relative;
    width: 108px;
    height: 35px;
    display:block;
}
/*Sprite*/
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -181px;
}
.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -214px;
}
.sprite-left {
    width: 9px;
    height: 14px;
    background-position: -10px -347px;
}
.sprite-logo-academy {
    width: 108px;
    height: 38px;
    background-position: -10px -420px;
}
.sprite-pin {
    width: 218px;
    height: 142px;
    background-position: -10px -515px;
}
.sprite-right {
    width: 9px;
    height: 14px;
    background-position: -10px -1385px;
}
.sprite-waffle-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -1523px;
}
.sprite-waffle-ice-cream {
    width: 49px;
    height: 49px;
    background-position: -10px -1592px;
}
.sprite-waffle-leaf {
    width: 49px;
    height: 49px;
    background-position: -10px -1661px;
}
.sprite-waffle-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -1730px;
}
.logo-academy::before, .left::before, .right::before, .waffle-ice-cream::before, .waffle-cow::before, .waffle-thermometer::before, .waffle-leaf::before, .hit::before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/spritesheet.png");
    background-repeat:no-repeat;
}
.info-left::before{
    content:'';
    position:absolute;
    background-image: url("../img/spritesheet.png");
    background-repeat:no-repeat;
    width: 15px;
    height: 13px;
    background-position: -10px -181px;
    left: -20px;
    top: 2px;
}
.hit::before{
    width: 61px;
    height: 61px;
    background-position: -10px -214px;
    position:absolute;
    left:28px;
    top:29px;
}
.img-good{
    position:relative;
}
.waffle-leaf::before {
    width: 49px;
    height: 49px;
    background-position: -10px -1661px;
    position:absolute;
    left:-34px;
    top:25px;
}
.waffle-thermometer:before{
    width: 48px;
    height: 49px;
    background-position: -10px -1730px;
    position:absolute;
    left: -31px;
    top: 26px;
}
.waffle-cow::before{
    width: 48px;
    height: 49px;
    background-position: -10px -1523px;
    position:absolute;
    left: -30px;
    top: 27px;
}
.waffle-ice-cream::before{
    width: 49px;
    height: 49px;
    background-position: -10px -1592px;
    position:absolute;
    left:-34px;
    top:25px;
}
.left::before{
    left:-19px;
    width: 9px;
    height: 14px;
    background-position: -10px -347px;
    opacity:.2;
}
.left{
    position:relative;
}
.right::before{
     width: 9px;
    height: 14px;
    background-position: -10px -1385px;
    left:97%;
    top:0;
}
.logo-academy::before{
    width: 108px;
    height: 38px;
    background-position: -10px -420px;
    left: 58px;
    top: 20px;
}
.content{
    width: 100%;
    position: relative;
    margin-bottom:79px;
}

/*MODAL*/

.modal-content {
    position: fixed;
    top: 120px;
    left: 50%;
    background:#f8f7f4;
    display: none;
    margin-left: -230px;
    padding: 18px 0 0 11px;
    border-radius:10px;
    width: 464px;
    height: 424px;
    color:#343434;
    background: #f8f7f4;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index:2000;
}
.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}
.modal-error {
    animation: shake 0.6s;
}

.modal-content-close {
    position: absolute;
    top: 11px;
    right: 5px;
    width: 37px;
    height: 24px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    z-index:1000;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";  
    position: absolute;
    top: 12px;
    left: 9px;
    width: 21px;
    height: 3px;
    background-color: #343434;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}
.icon-user, .icon-mail{
    padding:10px;
    margin:10px;
}
.modal-content-close::after {
    transform: rotate(-45deg);
}
.modal-btn{
    color: white;
    border: none;
    padding: 12px 25px 12px 28px;
    position: absolute;
    right: 24px;
    bottom: 27px;
}
fieldset{
    border:none;
}
.modal-content textarea{
    border:2px solid #d3d3d2;
    max-width:423px;
    max-height:152px;
    border-radius:4px;
    margin-top: -2px;
    font-size:16px;
    color:#343434;
    min-width: 423px;
    min-height: 152px;

}
.modal-content input[type="email"], .modal-content input[type="text"]{
    padding: 13px 8px 11px 15px;
    margin: 0 0 20px 0;
    width: 267px;
    font-size:16px;
    color:#343434;
}
legend{
    font-size:24px;
    line-height:22px;
    color:#343434;
    margin-bottom: 17px;
}
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}